{% extends 'layout.html' %}
{% load static %}
{% load bootstrap3 %}
    
{% block title %}
    Sign in to account    
{% endblock %}

    
{% block content %}
    <div class="authenticating-pages js--authenticating-pages">
        <div class="logo-alignment">
            <a href="{% url 'index' %}"><img src="{% static 'ProjectFBSentiments/images/Logo_img.png' %}" alt="logo" class="authenticating-pages-logo-style"></a>
        </div>
        <h3 class="text-center">Sign In</h3>
        
       
            
        <div class="login-form-wrapper">
            <div class="login-form">
                {% if error %}
                    <div class="alert alert-danger alert-dismissible fade show login-error-alert" role="alert">
                        {{error}}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
                <form method="POST" action="{% url 'accounts:signin' %}" class="form" name="login">
                    {% csrf_token %}
                    <div class="form-group">
                        <p class="text-danger" id="validusername"></p>
                        <i class="fas fa-user form-icon-style"></i>{{form.username}}
                    </div>
                    <div class="form-group">
                        <p class="text-danger" id="validpassword"></p>
                        <i class="fas fa-lock form-icon-style"></i>{{form.password}}
                    </div>
                    <div class="btn-signup">
                        <button type="submit" id="submit" class="btn btn-full">SIGN IN</button>
                    </div>
                </form>
                <p class="text-center">OR</p>
                <div class="signup-link">
                    <a href="{% url 'accounts:signup' %}" class="btn btn-ghost">SIGN UP FREE</a>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
        
 