{% extends 'layout.html' %}
{% load static %}
{% load bootstrap3 %}
    

{% block title %}
    Create a new account
{% endblock %}
    
    
{% block content %}
        
    
        
    <div class="authenticating-pages js--authenticating-pages">
        <div class="logo-alignment">
            <a href="{% url 'index' %}"><img src="{% static 'ProjectFBSentiments/images/Logo_img.png' %}" alt="logo" class="authenticating-pages-logo-style"></a>
        </div>
        <h3 class="text-center">Good choice.</h3>
        <p class="text-center">Signup to see your customer's reviews about your products.</p>
        <div class="signup-form-wrapper">
            <div class="signup-form">
                <form method="POST" action="{% url 'accounts:signup' %}" class="form" name="signup">
                    {% csrf_token %}
                    <div class="form-group">
                        <p class="text-danger" id="validusername"></p>
                        <i class="fas fa-user form-icon-style"></i>{{user.username}}
                    </div>
                    <div class="form-group">
                        <p class="text-danger" id="validemail"></p>
                        <i class="fas fa-envelope form-icon-style"></i>{{user.email}}
                    </div>
                    <div class="form-group">
                        <p class="text-danger" id="validpassword1"></p>
                        <i class="fas fa-lock form-icon-style"></i>{{user.password1}}
                    </div>
                    <div class="form-group">
                        <p class="text-danger" id="validpassword2"></p>
                        <i class="fas fa-lock form-icon-style"></i>{{user.password2}}
                    </div>
                    <div class="btn-signup">
                        <button type="submit" id="submit" class="btn btn-full">SIGN UP FREE</button>
                    </div>
                </form>
                <p class="text-center">OR</p>
                <p class="text-center">Already a user? <a href="{% url 'accounts:signin' %}" class="login-link">Login</a></p>
            </div>
        </div>

    </div>
{% endblock %}
