
:root{
    --primary-color: #00a8ff;
    --primary-color-light: #00caff;
    --primary-color-lighter: #f1faff;
    --accent-color: #eee;
    --accent-color-dark: #999;
    --text-color: #333;
    --white-color: #fff;
    --footer-color: #24242b;
    --dark-color: #222;
}

/* -------------------------------------------------- */
/* Basic Setup */
/* -------------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body{
    background-color: var(--white-color);
    color: var(--text-color);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* Reusable Components */
/* -------------------------------------------------- */


/* -------------------------------------------------- */
/* HEADINGS */
/* -------------------------------------------------- */

h1{
    font-size: 180%;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1px;
    word-spacing: 4px;
    text-align: center;
    padding-top: 100px;
    font-weight: bold;
}


h2{
    font-size: 160%;
    word-spacing: 2px;
    text-align: center;
    margin: 50px 0;
    letter-spacing: 1px; 
    font-weight: bold;
}


h2:after{
    display: block;
    height: 2px;
    background-color: var(--primary-color);
    content: " ";
    width: 100px;
    margin: 0 auto; 
    margin-top: 20px;
}

h3{
    font-size: 140%;
    word-spacing: 4px;
    letter-spacing: 1px;
    margin: 20px 0;
    font-weight: bold;
}

h4{
    font-size: 120%;
    font-weight: bold;
}

/* -------------------------------------------------- */


/* -------------------------------------------------- */
/* PARAGRAPHS */
/* -------------------------------------------------- */

p{
    font-size: 90%;
}

span{
    font-weight: bold;
    font-size: 105% !important;
}

/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* ICONS */
/* -------------------------------------------------- */

.icon-style{
    color: var(--primary-color);
}



/* -------------------------------------------------- */




/* -------------------------------------------------- */
/* LINKS */
/* -------------------------------------------------- */

.link-style:link,
.link-style:visited{
    text-decoration: none;
    color: var(--text-color);
}

.link-style:hover,
.link-style:active{
    color: var(--primary-color);
}

/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* BUTTONS */
/* -------------------------------------------------- */

.btn-full{
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 85%;
    font-weight: bold;
    letter-spacing: 1px;
}

.btn-full:hover{
    background-color: var(--primary-color-light);
    color: var(--white-color);
}

.btn-ghost{
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 70%;
    font-weight: bold;
    letter-spacing: 1px;
    border: 2px solid var(--primary-color);
}

.btn-ghost:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-icon{
    background-color: var(--footer-color);
    color: var(--white-color);
    font-size: 110%;
}

/* -------------------------------------------------- */


/* -------------------------------------------------- */
/* HEADER */
/* -------------------------------------------------- */

header{
    height: 100vh;
    background-image: url('../images/hero_background.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}


/* -------------------------------------------------- */
/* NAVBAR */
/* -------------------------------------------------- */

.navbar{
    font-size: 85%;
    box-shadow: 0 4px 2px -2px var(--accent-color);
    background-color: var(--white-color);
}


.logo-style{
    width: auto;
    height: 65px;
}

.nav-link-style:link,
.nav-link-style:visited{
    color: var(--text-color);
}

.nav-link-style:hover,
.nav-link-style:active{
    background-color: #eee;
    border-radius: 5px;
}

.drop-link-style{
    font-size: 80%;
}

.nav-link-special{
    font-size: 85%;
    font-weight: bold;
}

/* -------------------------------------------------- */



/* -------------------------------------------------- */
/* HERO */
/* -------------------------------------------------- */
.hero{
    margin-top: 85px;
}


.btn-center{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.hero-btn-full{
    margin-right: 20px;
}

.hero-btn{
    font-size: 95%;
    padding: 15px 20px;
}


/* -------------------------------------------------- */



/* -------------------------------------------------- */
/* CONTENT */
/* -------------------------------------------------- */

.content{
    min-height: 100vh;
}

/* -------------------------------------------------- */


/* -------------------------------------------------- */
/* FEATURES */
/* -------------------------------------------------- */

.features-img{
    background-image: url(../images/features_img.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 660px;
}

.features-graph-wrapper{
    margin-top: 120px;
    display: flex;
    flex-direction: row-reverse;
}

.features-report-wrapper{
    margin-top: 120px;
}

.features-graph-alignment,
.features-report-alignment{
    display: flex;
    justify-content: center;
}

.features-graph-style{
    width: 80%;
    height: 450px;
}

.features-report-style{
    height: 450px;
    width: 85%;
}

.features-duo-chunk{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.features-chunk{
    margin-top: 40px;
}

.positive{
    background-color: #0ea45e;
    border-radius: 10px;
    width: 50%;
    float: right;
    margin-top: 60px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

.negative{
    background-color: #c0392b;
    border-radius: 10px;
    width: 40%;
    margin-top: 350px;
    box-shadow: 0 0 12px rgba(0,0,0,0.4);
}

.positive-review-example,
.negative-review-example{
    color: var(--white-color);
    padding: 20px;
}

/* -------------------------------------------------- */



/* -------------------------------------------------- */
/* HOW IT WORKS */
/* -------------------------------------------------- */

.how-it-works{
    height: 450px;
    background-color: var(--primary-color-lighter);
}

.heading-style{
    padding-top: 50px;
}

.works-steps-wrapper{
    display: flex;
    justify-content: center;
}


.step{
    margin-bottom: 50px;
}

.step div{
    color: var(--white-color);
    background-color: var(--primary-color);
    display: block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.step p{
    padding-top: 10px;
}

/* -------------------------------------------------- */


/* -------------------------------------------------- */
/* GET STARTED */
/* -------------------------------------------------- */

.easy-get-started{
    height: 300px;
    background-image: url('../images/easy_get_started.png');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.easy-get-started-wrapper{
    background-color: var(--primary-color);
    border-radius: 5px;
    height: 150px; 
}

.align-v-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.easy-get-started-text-style{
    color: var(--white-color);
    font-size: 160%;
    text-align: center;
}

.easy-get-started-btn-style:link,
.easy-get-started-btn-style:visited{
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 90%;
    font-weight: bold;
    padding: 15px 25px;
    width: 200px;
    align-self: center;
}

.easy-get-started-btn-style:hover,
.easy-get-started-btn-style:active{
    background-color: var(--primary-color);
    color: var(--white-color);
    border: 5px solid var(--white-color);
    transition-duration: 0.2s;
}

/* -------------------------------------------------- */


/* -------------------------------------------------- */
/* FOOTER */
/* -------------------------------------------------- */

footer{
    /* min-height: 280px; */
    background-color: var(--footer-color);
}

.footer-navs{
    padding-top: 30px;
}

.footer-heading{
    font-size: 120%;
    font-weight: bold;
    color: var(--white-color);
}

.footer-text{
    font-size: 90%;
    color: var(--white-color);
    margin: 0;
}

.footer-links:active,
.footer-links:visited,
.footer-links:link,
.footer-links:hover{
    color: var(--white-color);
    text-decoration: none;
}

.copy-text{
    padding: 40px 0 20px 0;
}

.content-center{
    display: flex;
    justify-content: center;
}

/* -------------------------------------------------- */


/* -------------------------------------------------- */
/* Signup and Login */
/* -------------------------------------------------- */

.authenticating-pages{
    background-image: url('../images/forms_background.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.authenticating-pages-logo-style{
    height: 100px;
    width: auto;
    margin-top: 30px;
}

.logo-alignment{
    display: flex;
    justify-content: center;
}

.signup-form-wrapper,
.login-form-wrapper{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    
}

.signup-form,
.login-form{
    width: 30%;
    box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.form{
    padding: 20px;
}

.btn-signup,
.btn-login{
    display: flex;
    justify-content: center;
}

.input-style{
    border: 0;
    outline: none;
    box-shadow: none !important;
    border-bottom: 1px solid var(--accent-color-dark);
    width: 93%;
    margin-bottom: 10px;
}

.input-style-error{
    border-bottom: 1px solid #d9534f !important;
}

.input-style:focus{
    border-color: var(--accent-color-dark);
}


.form-icon-style{
    color: var(--primary-color);
    margin-right: 3%;
    font-size: 90%;
}

.login-link:link,
.login-link:visited,
.login-link:hover,
.login-link:active{
    text-decoration: none;
    color: var(--primary-color);
}

.signup-link{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

/* -------------------------------------------------- */

/* -------------------------------------------------- */
/* DASHBOARD */
/* -------------------------------------------------- */

.dark-nav{
    padding: 0;
    box-shadow: none;
}

.dashboard-nav-left{
    width: 15%;
    position: relative;
    background-color: var(--footer-color);
    padding: 5px 0;
}

.dashboard-nav-right{
    width: 85%;
    position: relative;
    padding: 5px 0;
}


.sidebar-toggler,
.signout-btn{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0,-50%);
}


.dashboard-nav-text{
    font-size: 180%;
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0,-50%);
}



.dashboard-footer{
    background-color: var(--footer-color);
    clear: both;
}

.footer-logo{
    display: flex;
    justify-content: center;
    padding: 5px 0;
}

.d-footer-text{
    font-size: 90%;
    color: var(--white-color);
    margin: 0;
    padding: 5px 0;
}


.dashboard-content-wrapper{
    width: 100%;
    min-height: calc(100vh - 75px);
    display: flex;
}

.search-wrapper{
    width: 35%;
    margin: 20px auto;
}

.sidebar-wrapper{
    width: 15%;
    float: left;
    background-color: var(--dark-color); 
}

.action-area-wrapper{
    width: 85%;
    float: right;
    background-color: var(--accent-color);
}


.sidebar-link{
    font-size: 80%;
    color: var(--accent-color-dark);
    padding: 0 0 0 30px;
}

.sidebar-link:hover{
    text-decoration: none;
    color: var(--primary-color);
}

.link-wrapper{
    margin-top: 10px;
}

.content-wrapper{
    padding: 20px;
    margin: 20px;
    background-color: var(--white-color);
    border-radius: 5px;
    min-height: 80%;
}

.postview-left-wrapper{
    width: 50%;
    float: left;
}

.postview-right-wrapper{
    width: 50%;
    float: right;
}


.post-img{
    width: 70px;
    height: auto;
}

.postview-post-img{
    width: 500px;
    height: auto;
    box-shadow: 0 0 10px var(--accent-color-dark);
    border-radius: 10px;
}

.postview-post-msg{
    margin-top: 20px;
}

.postview-cmnt-head{
    font-size: 110%;
}

.postview-post-cmnt{
    font-size: 85%;
    padding: 0;
    margin-top: 2px;
}

.alert-custom{
    width: 50%;
    margin: 0 auto;
}


/* -------------------------------------------------- */



/* -------------------------------------------------- */
/* ANIMATIONS */
/* -------------------------------------------------- */

#js--features{
    opacity: 0;
    animation-duration: 1s;
}
#js--features .animated{
    opacity: 1;
}


/* AUTHENTICATION ANIMATIONS */
.js--authenticating-pages{
    opacity: 0;
    animation-duration: 2s;
}

.js--authenticating-pages .animated{
    opacity: 1;
}

/* -------------------------------------------------- */