{% extends 'layout.html' %}


{% block title %}
    Facebook Sentiments
{% endblock %}
    


{% block hero %}
    <div class="hero">
        <div class="container"> 
            <div class="hero-text-box">
                <h1 id="js--hero-text">Know what people are saying about your products.</h1>
            </div>       
            <div class="btn-center">
                <a href="{% url 'accounts:signup' %}" class="btn btn-full hero-btn hero-btn-full">SIGN UP FREE</a>
                <button type="button" class="btn btn-ghost btn-sm">SHOW ME MORE</button>
            </div>
        </div>
    </div>
{% endblock %}
    

{% block content %}
    <section class="features" id="js--features">
        <div class="container">
            <h2>FEATURES</h2>
        </div>
    </section>
{% endblock %}
    